.user-view__content {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 5rem 0;
}
.user-view__form-container {
  max-width: 68rem;
  margin: 0 auto;
  padding: 0 8rem;
}

.heading-secondary {
  font: var(--font-base);
  font-size: 2.25rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(var(--color-navy)),
    to(var(--color-blue))
  );
  background-image: linear-gradient(
    to right,
    var(--color-navy),
    var(--color-blue)
  );
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.1rem;
  line-height: 1.3;
  display: inline-block;
}
.heading-secondary--error {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(var(--color-orange)),
    to(var(--color-red))
  );
  background-image: linear-gradient(
    to right,
    var(--color-orange),
    var(--color-red)
  );
  font-size: 3.5rem;
}

/* Form */

.form__input {
  display: block;
  font-family: inherit;
  font-size: 1.5rem;
  color: var(--color-navy);
  padding: 1.25rem 1.75rem;
  border: none;
  width: 100%;
  background-color: #fff;
  background-color: #f2f2f2;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* Pseudo element (a visible thing that isn't really in the DOM).
      Also needs -ms- */
}
.form__input:focus {
  outline: none;
  border-bottom: 3px solid var(--color-navy);
}
.form__input:focus:invalid {
  border-bottom: 3px solid var(--color-orange);
}
.form__input::-webkit-input-placeholder {
  color: #bbb;
}

.form__group:not(:last-child) {
  margin-bottom: 2.5rem;
}

.form__label {
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
  color: var(--color-blue);
}
.invalid {
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: var(--color-orange);
}

.form__photo-upload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.6rem;
}

.form__user-photo {
  height: 7.5rem;
  width: 7.5rem;
  border-radius: 50%;
  margin-right: 2rem;
  border: 3px solid var(--color-blue);
  box-shadow: 0 0 5px #2c2c2c70;
}

.form__upload {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.form__upload:focus + label {
  outline: 3px solid var(--color-navy);
  outline-offset: 3px;
}

.form__upload + label {
  color: var(--color-navy);
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid var(--color-blue);
  padding: 3px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}
.form__upload + label:hover {
  background-color: var(--color-blue);
  color: #fff;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}

/*UPLOAD BUTTON*/
.btn-text:link,
.btn-text:visited {
  color: var(--color-navy);
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid var(--color-navy);
  padding: 3px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn-text:hover {
  background-color: var(--color-navy);
  color: #fff;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}

.btn-text:active {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.btn-text:focus {
  outline: none;
  outline: 3px solid var(--color-navy);
  outline-offset: 3px;
}

button:disabled,
button:disabled:hover,
button:disabled:active {
  cursor: not-allowed;
  background-color: #ccc;
  color: #3f3f3f;
  border-color: #ccc;
}

@media screen and (min-width: 2001px) {
}

@media screen and (max-width: 2000px) {
}

@media screen and (max-width: 1150px) {
  .user-view__form-container {
    max-width: 55rem;
  }
}

@media screen and (max-width: 650px) {
  .user-view__form-container {
    max-width: 30rem;
    padding: 0 2rem;
  }
  .heading-secondary {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 450px) {
  /* .user-view__form-container {
    max-width: 30rem;
  } */
}
