.section-padding {
  padding: 6rem 6rem;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.app-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  min-height: 100vh;
}

.app-wrapper_info {
  flex: 1;
  width: 100%;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.app-bg {
  background-color: #f7f7f7;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
}

.app-wrapper_img {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 2rem;
}

.app-wrapper_img-reverse {
  justify-content: flex-start;
  margin-right: 2rem;
}

.app-wrapper_img img {
  width: 80%;
}

.custom-button {
  background-color: var(--color-fadedblue);
  color: var(--color-navy);
  display: inline-block;
  margin-left: 0;
  width: 100%;
  font-family: var(--font-base);
  font-weight: 700;
  letter-spacing: 0.04em;
  font-size: 1.8rem;
  text-align: center;
  padding: 0.5rem 1.5rem;
  border-radius: 10px;
  border: 5px solid rgba(255, 255, 255, 0.045);
  backdrop-filter: blur(4px);
  box-shadow: 0 0 5px #2c2c2c70;
  outline: none;
  cursor: pointer;
}

.p-oswald {
  font-family: var(--font-base);
  color: var(--color-black);
  font-weight: 700;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  line-height: 29.9px;
  font-size: 2.2rem;
}

.p-opensans {
  font-family: var(--font-alt);
  color: var(--color-grey);
  font-weight: 400;
  letter-spacing: 0.04em;
  /* text-transform: capitalize; */
  line-height: 28px;
  font-size: 2rem;
}

.headtext-oswald {
  font-family: var(--font-base);
  color: var(--color-navy);
  font-size: 64px;
  line-height: 83.2px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
}

/* HELPERS */

.line {
  margin: 6rem 0;
  width: 100%;
  height: 1px;
  background-color: #e0e0e0;
}
.ma-tp-md {
  margin-top: 3rem !important;
}
.ma-bt-md {
  margin-bottom: 3rem !important;
}

.ma-bt-lg {
  margin-bottom: 3.5rem !important;
}

.right {
  text-align: right !important;
}
/* ACTIVE LINKS*/

.active:link,
.active:visited {
  padding: 1rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 400;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.active:hover,
.active:active {
  padding: 1rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 400;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
}

@media screen and (min-width: 2000px) {
  .custom-button,
  .p-oswald {
    font-size: 37px;
    line-height: 67px;
  }

  .p-opensans {
    font-size: 30px;
    line-height: 50px;
  }

  .headtext-oswald {
    font-size: 150px;
    line-height: 210px;
  }
}

@media screen and (max-width: 1150px) {
  .app-wrapper {
    flex-direction: column-reverse;
  }

  .app-wrapper_img {
    margin: 1rem 0 0 0;
  }

  .app-wrapper_img-reverse {
    margin: 0 0 5rem 0;
  }

  .app-wrapper_img img {
    width: 100%;
  }

  .section-padding {
    padding: 2rem 6rem 6rem 6rem;
  }
}

@media screen and (max-width: 850px) {
  .section-padding {
    padding: 3rem;
  }
}

@media screen and (max-width: 650px) {
  .section-padding {
    padding: 2rem 2rem 6rem 2rem;
  }

  .p-oswald {
    font-size: 21px;
  }

  .p-opensans {
    font-size: 14px;
  }
}

@media screen and (max-width: 450px) {
  .p-opensans {
    font-size: 12px;
  }

  .p-oswald {
    font-size: 19px;
  }

  .headtext-oswald {
    font-size: 45px;
    line-height: 70px;
  }
  .section-padding {
    padding: 1rem 1rem 6rem 1rem;
  }
}
@media screen and (max-width: 350px) {
  .active:link,
  .active:visited,
  .active:hover,
  .active:active {
    padding: 1rem 2rem;
  }
}
